{% extends "Home/base_admin.html" %}
{% load static %}
{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Add Destination</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'destination_list' %}">Destinations</a></li>
                        <li class="breadcrumb-item active">Add Destination</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">

                                <!-- Destination Name -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="name">Destination Name</label>
                                        <input type="text" id="name" class="form-control" name="name" required>
                                    </div>
                                </div>

                                <!-- Code -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="code">Destination Code</label>
                                        <input type="text" id="code" class="form-control" name="code" maxlength="10" required>
                                    </div>
                                </div>

                                <!-- Description -->
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea id="description" class="form-control" name="description" rows="4" placeholder="Optional description..."></textarea>
                                    </div>
                                </div>

                                <!-- Image Upload -->
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="image">Destination Image</label>
                                        <input type="file" id="image" class="form-control" name="image" accept="image/*">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>
{% endblock body %}
