{% extends "Home/base_admin.html" %}
{% load static %}
{% block body %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Edit City</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/cities">Cities</a></li>
                        <li class="breadcrumb-item active">Edit City</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="form-title"><span>City Information</span></h5>
                                </div>

                                <!-- City Name -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>City Name</label>
                                        <input type="text" class="form-control" name="name" value="{{ city.name }}" required>
                                    </div>
                                </div>

                                <!-- Destination (ForeignKey) -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Destination</label>
                                        <select class="form-control" name="destination" required>
                                            <option value="">Select Destination</option>
                                            {% for dest in destinations %}
                                                <option value="{{ dest.id }}" {% if city.destination.id == dest.id %}selected{% endif %}>{{ dest.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <!-- Timezone -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Timezone</label>
                                        <input type="text" class="form-control" name="timezone" value="{{ city.timezone|default_if_none:'' }}">
                                    </div>
                                </div>

                                <!-- Airport Code -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Airport Code</label>
                                        <input type="text" class="form-control" name="airport_code" value="{{ city.airport_code|default_if_none:'' }}" maxlength="10">
                                    </div>
                                </div>

                                <!-- Description -->
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea class="form-control" name="description" rows="3">{{ city.description }}</textarea>
                                    </div>
                                </div>

                                <!-- Image Upload -->
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>City Image</label>
                                        <input type="file" class="form-control" name="image" accept="image/*">
                                        {% if city.image %}
                                            <small class="form-text text-muted">Current: <a href="{{ city.image.url }}" target="_blank">{{ city.image.name }}</a></small>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Update City</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>

{% endblock %}
