{% extends 'base.html' %}
{% load static %}

{% block title %}destination hero{% endblock %}
 
{% block extra_head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/styledes3.css' %}">
{% endblock %}

{% block content %}
 
<body>

      <section class="room-types">
        <h2 class="section-title">The best dishes to enjoy in Constantine</h2>
        <div class="room-cards">
          <div class="room-card">
            <img src="/static/imagess/chdfer.jpg" alt="Chekhchoukhat dfer" class="room-image" />
            <div class="room-content">
              <h4 class="room-title">Chekhchoukhat dfer</h4>
              <p class="room-description">
                La Chekhchoukha dfer est un plat traditionnel constantinois à base de pain sec émietté, accompagné d'un savoureux ragout de viande d'agneau épicée, le tout cuisiné dans une sauce tomate riche en épices. Ce plat est un vrai délice qui reflète l'authenticité de la cuisine de Constantine.
              </p>
            </div>
          </div>
    
          <div class="room-card">
            <img src="/static/imagess/trida.jpg" alt="Trida" class="room-image" />
            <div class="room-content">
              <h4 class="room-title">Trida</h4>
              <p class="room-description">
                La Trida est un plat emblématique de la cuisine constantinoise, composé de pâtes fraîches cuites à la vapeur, accompagnées d'un bouillon parfumé aux épices et agrémentées de viande d'agneau ou de poulet. C'est un plat réconfortant, très apprécié pendant les grandes occasions.
              </p>
            </div>
          </div>

          <div class="room-card">
            <img src="/static/imagess/baklawa.jpg" alt="Baklawa" class="room-image" />
            <div class="room-content">
              <h4 class="room-title">Baklawa</h4>
              <p class="room-description">
                La Baklawa est un dessert traditionnel très apprécié à Constantine. Composé de couches de pâte filo croustillante, fourrées de noix et pistaches, et arrosé d'un sirop sucré, ce délice oriental est parfait pour clore un repas en beauté.
              </p>
            </div>
          </div>

          <div class="room-card">
            <img src="/static/imagess/makroutfour.jpg" alt="Makrout Au Four" class="room-image" />
            <div class="room-content">
              <h4 class="room-title">Makrout Au Four</h4>
              <p class="room-description">
                Le Makrout au Four est un délicieux gâteau algérien préparé avec de la semoule, farci de pâte de dattes, et parfumé à l'orange. Cuits au four et trempés dans un sirop sucré, ces petits délices sont incontournables dans la pâtisserie traditionnelle constantinoise.
              </p>
            </div>
          </div>

         <div class="room-card">
           <img src="/static/imagess/rfiss.jpg" alt="Rfiss" class="room-image" />
           <div class="room-content">
          <h4 class="room-title">Rfiss</h4>
         <p class="room-description">
         Le Rfiss est un plat traditionnel constantinois à base de semoule finement broyée, souvent accompagné d'un bouillon riche à base de viande (agneau ou poulet), de légumes et d'épices. Ce plat nourrissant est un vrai réconfort pour les amateurs de cuisine algérienne authentique.
      </p>
    </div>
   </div>

         <div class="room-card">
        <img src="/static/imagess/mchelouech.jpg" alt="Mchelouech Constantinois" class="room-image" />
        <div class="room-content">
        <h4 class="room-title">Mchelouech Constantinois</h4>
        <p class="room-description">
          Le Mchelouech Constantinois est un plat typique composé de pâte feuilletée roulée et farcie de viande (souvent du bœuf ou de l'agneau), d'épices et parfois de légumes. Ce met savoureux est cuit au four, donnant une texture à la fois croustillante à l'extérieur et fondante à l'intérieur, souvent accompagné d'une sauce tomate épicée.
         </p>
         </div>
       </div>

       <div class="room-card">
       <img src="/static/imagess/jouz.jpg" alt="Djouzia" class="room-image" />
        <div class="room-content">
       <h4 class="room-title">Djouzia</h4>
       <p class="room-description">
      La Djouzia est un dessert traditionnel constantinois à base de semoule, de sucre, d'amandes et de beurre, souvent parfumé à l'eau de fleur d'oranger. Ce gâteau sucré est très populaire pendant les fêtes et les occasions spéciales, offrant une texture fondante et un goût riche en saveurs.
      </p>
     </div>
   </div>

       <div class="room-card">
          <img src="/static/imagess/chbahsefra.jpg" alt="Chbah Safra" class="room-image" />
         <div class="room-content">
         <h4 class="room-title">Chbah Safra</h4>
            <p class="room-description">
         Chbah Safra est un plat traditionnel constantinois à base de poulet ou de viande d'agneau mijoté avec des épices, des légumes et souvent accompagné de pois chiches. C'est un plat savoureux et riche, typique de la cuisine algérienne, qui réchauffe le cœur avec sa combinaison d'herbes et de saveurs épicées.
        </p>
       </div>
      </div>
    
       <div class="room-card">
       <img src="/static/imagess/Mhejeb.png" alt="Mhajeb" class="room-image" />
           <div class="room-content">
         <h4 class="room-title">Mhajeb</h4>
           <p class="room-description">
            Les Mhajeb sont des crêpes farcies typiques de la cuisine algérienne, souvent préparées avec une garniture de légumes épicés (tomates, oignons, poivrons) et parfois de viande ou de fromage. C'est un plat savoureux et nourrissant, très populaire lors des repas en famille ou entre amis.
          </p>
        </div>
      </div>

           <div class="room-card">
           <img src="/static/imagess/chekchouka.jpg" alt="Chekchouka" class="room-image" />
           <div class="room-content">
         <h4 class="room-title">Chekchouka</h4>
            <p class="room-description">
            La Chekchouka est un plat traditionnel algérien à base de légumes grillés, notamment des poivrons, des tomates et des oignons, souvent accompagné d'œufs pochés ou d'une sauce à base d'huile d'olive. Ce plat simple et savoureux fait partie des incontournables de la cuisine algérienne.
          </p>
          </div>
       </div>
      <div class="room-card">
        <img src="/static/imagess/ghribia.jfif" alt="Ghribia" class="room-image" />
         <div class="room-content">
         <h4 class="room-title">Ghribia</h4>
         <p class="room-description">
        La Ghribia est un délicieux biscuit traditionnel algérien, préparé avec de la semoule, du sucre, et souvent aromatisé avec de l'eau de fleur d'oranger. Ce dessert fondant en bouche est particulièrement apprécié pendant les fêtes et occasions spéciales.
    </p>
  </div>
</div>

        <div class="room-card">
        <img src="/static/imagess/couscous1.jpg" alt="Couscous" class="room-image" />
         <div class="room-content">
         <h4 class="room-title">Couscous</h4>
         <p class="room-description">
      Le Couscous est l'un des plats les plus emblématiques de la cuisine algérienne. Préparé avec de la semoule de blé, il est servi avec une sauce riche à base de légumes, de viande (agneau, poulet) et d'épices. C'est un plat complet et savoureux, souvent consommé lors des grandes occasions.
    </p>
  </div>
</div>
        </div>
      </section>
      
</body>
{% endblock %}
